  

  <!-- Back to Top
============================================= --> 
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" (click)="scrollToTop()"><i class="fa fa-chevron-up"></i></a> 

<!-- Footer
  ============================================= -->
  <footer id="footer">
  
    <section class="section bg-light shadow-md pt-4 pb-4">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-3 mb-md-0">
            <p>Payment</p>
            <ul class="payments-types">
              <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="assets/images/visa.png" ></a></li>
              <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="assets/images/discover.png" ></a></li>
              <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="assets/images/paypal.png"></a></li>
              <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="assets/images/american.png"></a></li>
              <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="assets/images/mastercard.png"></a></li>
            </ul>
          </div>
          <div class="col-md-4 mb-3 mb-md-0">
            <p>Subscribe</p>
            <div class="input-group newsletter">
              <input class="form-control" placeholder="Your Email Address" name="newsletterEmail" id="newsletterEmail" type="text">
              <span class="input-group-append">
              <button class="btn btn-secondary" type="submit">Subscribe</button>
              </span> </div>
          </div>
          <div class="col-md-4 d-flex align-items-md-end flex-column">
            <p>Keep in touch</p>
            <ul class="social-icons social-icons-colored">
              <li class="social-icons-facebook"><a data-toggle="tooltip" href="#" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
              <li class="social-icons-twitter"><a data-toggle="tooltip" href="#" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
              <li class="social-icons-google"><a data-toggle="tooltip" href="#" target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
              <li class="social-icons-linkedin"><a data-toggle="tooltip" href="#" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
              <li class="social-icons-youtube"><a data-toggle="tooltip" href="#" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
              <li class="social-icons-instagram"><a data-toggle="tooltip" href="#" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    
    
      <div class="container">
        <div class="footer-copyright pt-0 border0">
          <ul class="nav justify-content-center">
            <li class="nav-item"> <a class="nav-link active" href="#">Home</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">About us</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Contact</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Login</a> </li>
            </ul>
          <p class="copyright-text">Copyright © 2021 <a href="#">traversia</a>. All Rights Reserved.</p>
        </div>
      </div>
  </footer>
<!-- Footer end --> 
    