
    <div class="section bg-light shadow-md">
        <div class="container"> 
          
          <!-- Banner
          ============================================= -->
          <div class="owl-carousel owl-theme banner">
            <div class="item rounded"> <a href="#">
              <div class="caption">
                <h2>20% OFF</h2>
                <p>On Flight Booking</p>
              </div>
              <div class="banner-mask"></div>
              <img class="img-fluid" src="assets/images/small-banner-4.jpg" alt="banner" /> </a> </div>
            <div class="item rounded"> <a href="#">
              <div class="caption">
                <h2>10% OFF</h2>
                <p>On Train Booking</p>
              </div>
              <div class="banner-mask"></div>
              <img class="img-fluid" src="assets/images/small-banner-2.jpg" alt="banner" /> </a> </div>
            <div class="item rounded"> <a href="#">
              <div class="caption">
                <h2>25% OFF</h2>
                <p>On Bus Booking</p>
              </div>
              <div class="banner-mask"></div>
              <img class="img-fluid" src="assets/images/small-banner-1.jpg" alt="banner" /> </a> </div>
          </div>
          <!-- Banner end --> 
          
          
        </div>
      </div>
      
      <!-- Refer & Earn
      ============================================= -->
      <section class="section bg-secondary text-light shadow-md">
        <div class="container">
          <h2 class="text-9 text-light font-weight-600 text-center">Refer & Earn</h2>
          <p class="lead text-center mb-5">Refer your friends and earn up to $20.</p>
          <div class="row">
            <div class="col-md-4">
              <div class="featured-box style-3">
                <div class="featured-box-icon bg-primary4 text-light rounded-circle"> <i class="fas fa-bullhorn"></i> </div>
                <h3 class="text-light">You Refer Friends</h3>
                <p class="text-3 opacity-8">Share your referral link with friends. They get $10.</p>
              </div>
            </div>
            <div class="col-md-4 mt-4 mt-md-0">
              <div class="featured-box style-3">
                <div class="featured-box-icon bg-primary4 text-light rounded-circle"> <i class="fas fa-sign-in-alt"></i> </div>
                <h3 class="text-light">Your Friends Register</h3>
                <p class="text-3 opacity-8">Your friends Register with using your referral link.</p>
              </div>
            </div>
            <div class="col-md-4 mt-4 mt-md-0">
              <div class="featured-box style-3">
                <div class="featured-box-icon bg-primary4 text-light rounded-circle"> <i class="fas fa-dollar-sign"></i> </div>
                <h3 class="text-light">Earn You</h3>
                <p class="text-3 opacity-8">You get $20. You can use these credits to take recharge.</p>
              </div>
            </div>
          </div>
          <div class="text-center pt-4"> <a href="#" class="btn btn-outline-light">Get Started Earn</a> </div>
        </div>
      </section>
      <!-- Refer & Earn end --> 
      
      <!-- Mobile App
      ============================================= -->
      <section class="section pb-0">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 text-center"> <img class="img-fluid" alt="" src="assets/images/app-mobile-2.png"> </div>
            <div class="col-lg-6 text-center text-lg-left">
              <h2 class="text-9 font-weight-600 my-4">Download Our corporate<br class="d-none d-lg-inline-block">
                Mobile App Now</h2>
              <p class="lead text-dark">Download our app for the fastest, most convenient way to Recharge & Bill Payment, Booking and more....</p>
              <div class="pt-3"> <a href="#" class="mr-4 btn btn-outline-primary shadow-none"><i class="fab fa-apple mr-1"></i> App Store</a> <a href="#" class="mr-4 btn btn-outline-primary shadow-none"><i class="fab fa-android mr-1"></i> Play Store</a></div>
            </div>
          </div>
        </div>
      </section>

