<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->
<!-- Preloader -->
<div id="preloader"><div data-loader="dual-ring"></div></div><!-- Preloader End -->
<app-nav></app-nav>
<ngx-ui-loader></ngx-ui-loader>
<!-- <app-rail-travel></app-rail-travel> -->
<!-- <app-accomodation-booking></app-accomodation-booking> -->

<!-- <app-visa></app-visa> -->
<!-- <app-misc></app-misc> -->
<!-- <app-insurance></app-insurance> -->
<!-- <app-forex></app-forex> -->
<!-- <app-employee-profile></app-employee-profile> -->
<!-- <app-car-booking></app-car-booking> -->
<router-outlet></router-outlet>
<!-- <app-home></app-home> -->
<!-- <app-manage-users></app-manage-users> -->
<!-- <app-corporate-details></app-corporate-details> -->
  <!-- Footer -->

<!-- <app-newfooter></app-newfooter> -->
<app-footer></app-footer>
