  <!-- Content
  ============================================= -->
  <div id="content">
    <div class="hero-wrap py-2 py-md-3 py-lg-4">
      <div class="hero-mask opacity-3"></div>
      <div class="hero-bg" style="background-image:url('assets/images/image-1.png');"></div>
      <div class="hero-content">
        <div class="container-fluid">
         <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="mask flex-center">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-7 col-12 order-md-1 order-2 mt-6">
              <h4>Present your <br>
                awesome product</h4>
              <p>Lorem ipsum dolor sit amet. Reprehenderit, qui blanditiis quidem rerum <br>
                necessitatibus praesentium voluptatum deleniti atque corrupti.</p>
              <a href="#">REQUEST DEMO</a> </div>
            
          </div>
        </div>
      </div>
    </div>
    
    
  </div>
  <a style="display:none;" class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> 
  <a style="display:none;" class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
        </div>
      </div>
    </div>
    
	
	<!-- Refer & Earn
    ============================================= -->
    <section class="section mt-7">
	 <div class="container">
      <div class="row">
          <div class="col-md-4">
            <div class="featured-box style-4 bg-light shadow-md rounded pt-5 pb-5 pl-3 pr-3">
              <h3>Unified Travel & Expense</h3>
              <p class="text-3">Amplify savings, convenience and insights through a single platform</p>
			  <a href="#" class="card-btn">REQUEST DEMO</a>
			</div>
          </div>
          <div class="col-md-4">
            <div class="featured-box style-4 bg-light shadow-md rounded pt-5 pb-5 pl-3 pr-3">
              <h3>Travel</h3>
              <p class="text-3">Book flights, hotels and cabs with custom workflows and enable savings through employee incentives</p>
            <a href="#" class="card-btn">REQUEST DEMO</a>
			</div>
          </div>
          <div class="col-md-4">
            <div class="featured-box style-4 bg-light shadow-md rounded pt-5 pb-5 pl-3 pr-3">
              <h3>Expense</h3>
              <p class="text-3">Streamline expense reimbursement with stronger policy controls and audits</p>
              <a href="#" class="card-btn">REQUEST DEMO</a>
			</div>
          </div>
		  
		 
		  
		  
        </div>
	  </div>
	</section><!-- Refer & Earn end -->
	
	
    <!-- control
    ============================================= -->
    <section class="section bg-light-4">
      <div class="container mb-5">
		  <div class="row align-items-center">
				<div class="col-md-12">
			    <h2 class="text-7 font-weight-600 text-center">Control your spends with the power of innovation</h2>
				<p class="text-3 m-0 text-center mb-4">Book Bus Tickets Online. Save Time and Money!</p>
				</div>
				<div class="col-sm-6 col-md-6">
				<h4>Incentives that inspire savings</h4>
				<p class="text-3">Incentivise your employees who make cost conscious choices and save money for your organisation when they travel</p>
				<button class="btn btn-sm btn-outline-primary" type="submit">WATCH HOW IT WORKS</button>
				<button class="btn btn-sm btn-primary ml-3" type="submit">REQUEST DEMO</button>
				</div>
				<div class="col-sm-6 col-md-6"><img src="assets/images/mobile1.png" class="img-fluid"></div>
		  </div>
	  </div>
	  
	  <div class="container mb-5">
		  <div class="row align-items-center">
				<div class="col-sm-6 col-md-6"><img src="assets/images/desktop1.gif" class="img-fluid"></div>
				<div class="col-sm-6 col-md-6">
				<h4>Real time audits that plug spend leakages</h4>
				<p class="text-3">Ensure 100% compliance of policies in real time and save your finance teams the trouble of manual processes</p>
				<button class="btn btn-sm btn-outline-primary" type="submit">LEARN MORE</button>
				<button class="btn btn-sm btn-primary ml-3" type="submit">REQUEST DEMO</button>
				</div>
				
		  </div>
	  </div>
	  
	  <div class="container mb-5">
		  <div class="row align-items-center">
				<div class="col-sm-6 col-md-6">
				<h4>Convenience at your fingertips</h4>
				<p class="text-3">A unified platform for travel and expense management with access to our experts 24x7 over call, chat and email</p>
				<button class="btn btn-sm btn-primary" type="submit">REQUEST DEMO</button>
				</div>
				<div class="col-sm-6 col-md-6"><img src="assets/images/desktop3.png" class="img-fluid"></div>
		  </div>
	  </div>
	  
	  
    </section><!-- control end -->
	
	
	<!-- control
    ============================================= -->
    <section class="section bg-light">
      <div class="container">
		  <div class="row align-items-center">
				<div class="col-md-12">
			    <h2 class="text-7 font-weight-600 text-center mb-5">Features that drive convenience, control and savings </h2>
				</div>
				<div class="col-sm-12 col-md-3">
					<div class="row feature-item">
                            <div class="col-2">
                                <img src="assets/images/UnifiedApp.svg" alt="Unified app for bookings &amp; reimbursements" class="feature-icon">
                            </div>
                            <div class="col-10"><span>Unified app for bookings &amp; reimbursements</span></div>
                    </div>
					
					<div class="row feature-item">
                            <div class="col-2">
                                <img src="assets/images/UnparalledTravel.svg" alt="Unified app for bookings &amp; reimbursements" class="feature-icon">
                            </div>
                            <div class="col-10"><span> Unparalleled travel inventory </span></div>
                    </div>
					
					<div class="row feature-item">
                            <div class="col-2">
                                <img src="assets/images/CustomisedReports.svg" alt="Unified app for bookings &amp; reimbursements" class="feature-icon">
                            </div>
                            <div class="col-10"><span> Customised reports and dashboards, giving actionable savings </span></div>
                    </div>
				</div>
				<div class="col-sm-6 col-md-6"><img src="assets/images/desktop.png" class="img-fluid"></div>
				<div class="col-sm-12 col-md-3">
					<div class="row feature-item">
                            <div class="col-2">
                                <img src="assets/images/Multi-TiredApproval.svg" alt="Unified app for bookings &amp; reimbursements" class="feature-icon">
                            </div>
                            <div class="col-10"><span> Multi-tiered approval flows & conditional policies </span></div>
                    </div>
					
					<div class="row feature-item">
                            <div class="col-2">
                                <img src="assets/images/UnparelleledFraud.svg" alt="Unified app for bookings &amp; reimbursements" class="feature-icon">
                            </div>
                            <div class="col-10"><span> Unparalleled fraud detection </span></div>
                    </div>
					
					<div class="row feature-item">
                            <div class="col-2">
                                <img src="assets/images/SmartNudges.svg" alt="Unified app for bookings &amp; reimbursements" class="feature-icon">
                            </div>
                            <div class="col-10"><span> Smart nudges for faster filing </span></div>
                    </div>
				</div>
		  </div>
	  </div>
	</section><!-- control end -->
	
	
	
	<!-- Integrations
    ============================================= -->
    <section class="section bg-light-5">
      <div class="container">
		  <div class="row align-items-center">
				<div class="col-sm-6 col-md-6">
				<h2>Incentives that inspire savings</h2>
				<p class="text-4">To deliver a delightful experience, we leave no stone unturned. We integrate with leading enterprise systems across HRMS solutions, accounting solutions, SSO systems, CRM systems and a lot more.</p>
				</div>
				<div class="col-sm-6 col-md-6"><img src="assets/images/desk.png" class="img-fluid"></div>
		  </div>
	  </div>
	</section><!-- Integrations end -->
	
	
	
	
	<section class="section bg-light">
      <div class="container">
		  <div class="row align-items-center">
		  <div class="col-sm-12 col-md-4">
		  <h4>Empowering organisations across the globe</h4>
		  </div>
		  <div class="col-sm-12 col-md-8">
<div id="client-testimonial-carousel" class="carousel slide" data-ride="carousel" style="height:200px;">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active text-center">
        <blockquote class="blockquote text-center">
          <p class="mb-0"><i class="fa fa-quote-left"></i> Everybody is a genius. But if you judge a fish by its ability to climb a tree, it will live its whole life believing that it is stupid.
          </p>
          <footer class="blockquote-footer">Albert Einstein <cite title="Source Title">genius</cite></footer>
          <!-- Client review stars -->
          <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
          <p class="client-review-stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
          </p>
        </blockquote>
      </div>
      <div class="carousel-item text-center">
        <blockquote class="blockquote text-center">
          <p class="mb-0"><i class="fa fa-quote-left"></i> Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the world.
          </p>
          <footer class="blockquote-footer">Albert Einstein <cite title="Source Title">genius</cite></footer>
          <!-- Client review stars -->
          <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
          <p class="client-review-stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </p>
        </blockquote>
      </div>
      <div class="carousel-item text-center p-4">
        <blockquote class="blockquote text-center">
          <p class="mb-0"><i class="fa fa-quote-left"></i> A person who never made a mistake never tried anything new.
          </p>
          <footer class="blockquote-footer">Albert Einstein <cite title="Source Title">genius</cite></footer>
          <!-- Client review stars -->
          <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
          <p class="client-review-stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </p>
        </blockquote>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#client-testimonial-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#client-testimonial-carousel" data-slide-to="1"></li>
      <li data-target="#client-testimonial-carousel" data-slide-to="2"></li>
    </ol>
  </div>
  </div>
				
		  </div>
	  </div>
	</section><!-- Integrations end -->
	
	
    
	
	
    
    <!-- Mobile App
    ============================================= -->
    <section class="section bg-secondary">
      <div class="container">
        <div class="text-center">
          <h2 class="text-9 text-light font-weight-400 mb-4">Download Our App and Get $1 Free </h2>
          <a href="#" class="mr-4 btn btn-sm btn-light shadow-none d-inline-flex align-items-center"><i class="fab fa-apple fa-2x mr-2"></i> Get it on the App Store</a> <a href="#" class="btn btn-sm btn-light shadow-none d-inline-flex align-items-center"><i class="fab fa-android fa-2x mr-2"></i> Get it on Google Play</a> </div>
      </div>
    </section>
    <!-- Mobile App end --> 
    
  </div>
  <!-- Content end --> 

<!-- Modal Dialog - Login/Signup
============================================= -->
<div id="login-signup" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content p-sm-3">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item"> <a id="login-tab" class="nav-link active text-4" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Login</a> </li>
          </ul>
        <div class="tab-content pt-4">
          <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
            <form id="loginForm" method="post">
              <div class="form-group">
                <input type="email" class="form-control" id="loginMobile" required placeholder="Mobile or Email ID">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="loginPassword" required placeholder="Password">
              </div>
              <div class="row mb-4">
                <div class="col-sm">
                  <div class="form-check custom-control custom-checkbox">
                    <input id="remember-me" name="remember" class="custom-control-input" type="checkbox">
                    <label class="custom-control-label" for="remember-me">Remember Me</label>
                  </div>
                </div>
                <div class="col-sm text-right"> <a class="justify-content-end" href="#">Forgot Password ?</a> </div>
              </div>
              <button class="btn btn-primary btn-block" type="submit">Login</button>
            </form>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Dialog - Login/Signup end --> 
